// Paleta de cores
$color-primary: #071739;
$color-secondary: #c2ad97;
$color-background: #f5efeb;
$color-text: #062f4f;
$color-text-light: #d7dbaf;
$color-white: #ffffff;
    
// Fontes
$font-primary: 'Inter', sans-serif;
$font-title-size: 1.875rem;
$font-title-size-small: 1.4rem;
$font-title-weight: 700;
$font-paragraf-size: 1rem;
$font-paragraf-size-small: 0.8rem;

// Espaçamentos
$section-padding: 4rem;
